# Exercise one

In [5]:
import pandas as pd
import yfinance as yf

In [11]:
df_stock_list=pd.read_excel("D:/Stock_monitoring_list1.xlsx")

In [12]:
df_stock_list.head()

,Stock code,Name,English Name,Sector,52 week peak/bottom,sharp increase in volume,Volatity (SD),Upper bound,Lower bound,Current price,Sharp increase,Sharp decrease,EMA cross over up,EMA cross over down,MACD cross over up,MACD cross over down,Reach RSI max,Reach RSI min
0,0001.HK,長和,CK Hutchison Holdings,工商,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0002.HK,中電控股,CLP Holdings,公用,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0003.HK,香港中華煤氣,Hong Kong and China Gas,公用,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0005.HK,匯豐控股,HSBC Holdings plc,銀行,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0006.HK,電能實業,Power Assets Holdings,公用,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
L_stock_code=df_stock_list["Stock code"].tolist()

In [8]:
L_stock_code[0:2]

['0001.HK', '0002.HK']

In [15]:
from_date="2019-09-01"
L1=[]
for i in L_stock_code:
    df=yf.download(i,from_date)
    return1=100*(df["Close"].iloc[-1]-df["Close"].iloc[0])/df["Close"].iloc[0]
    L1.append(return1)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [16]:
L1

[-22.628825095979952,
 -1.1479611076051146,
 -17.98657328936105,
 -33.36307050397767,
 -14.451990054702982,
 -15.858208654257387,
 -14.265922240615897,
 -4.444447270146123,
 -0.6217561483336196,
 -38.863186956872084,
 11.601637828887409,
 -8.749996532093395,
 -7.393708499300874,
 1.5890962880854043,
 0.9771977863882869,
 3.64238854997135,
 -16.50692368544024,
 10.20733442476061,
 -26.236559216969823,
 26.430970614373035,
 2.0161290942816303,
 39.009654869424025,
 -43.312103651886275,
 -23.737671753254315,
 -10.375496073208263,
 -28.27763787626542,
 -22.750865216042286,
 7.74527178199957,
 -16.409863290422596,
 -16.553067677857385,
 18.393029466301343,
 -18.891687521285764,
 -12.999999523162842,
 -0.47543461856593255,
 -8.221795984298035,
 25.38071131519276,
 -4.4577490433815585,
 4.646465210826574,
 -8.321371128136835,
 -5.66948672029821,
 2.036667710334722,
 36.6176493027631,
 -9.33147233717476,
 -12.250549663215507,
 -2.55999755859375,
 4.487181009905497,
 -5.405404012163141,
 -11.674003026970707,
 -6.407765390196765,
 -2.999997138977051]

In [17]:
df_1=pd.DataFrame({"Stock_code":L_stock_code,
                 "Return":L1})

In [18]:
df_1.head()

  Stock_code     Return
0    0001.HK -22.628825
1    0002.HK  -1.147961
2    0003.HK -17.986573
3    0005.HK -33.363071
4    0006.HK -14.451990

In [19]:
df2=df_1.sort_values(["Return"],ascending=False).iloc[:5,]
df2

   Stock_code     Return
21    0700.HK  39.009655
41    2018.HK  36.617649
19    0388.HK  26.430971
35    1177.HK  25.380711
30    1044.HK  18.393029

In [20]:
def return_max(from_date,L_stock_code):
    L1=[]
    for i in L_stock_code:
        df=yf.download(i,from_date)
        return1=100*(df["Close"].iloc[-1]-df["Close"].iloc[0])/df["Close"].iloc[0]
        L1.append(return1)
    df_1=pd.DataFrame({"Stock_code":L_stock_code,
                 "Return":L1})
    df2=df_1.sort_values(["Return"],ascending=False).iloc[:5,]
    return(df2)

In [21]:
df_return1=return_max("2019-09-01",L_stock_code)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [22]:
df_return1

   Stock_code     Return
21    0700.HK  39.009655
41    2018.HK  36.617649
19    0388.HK  26.430971
35    1177.HK  25.380711
30    1044.HK  18.393029

In [26]:
def return_max1(from_date,L_stock_code,number_max=5):
    L1=[]
    for i in L_stock_code:
        df=yf.download(i,from_date)
        return1=100*(df["Close"].iloc[-1]-df["Close"].iloc[0])/df["Close"].iloc[0]
        L1.append(return1)
    df_1=pd.DataFrame({"Stock_code":L_stock_code,
                 "Return":L1})
    df2=df_1.sort_values(["Return"],ascending=False).iloc[:number_max,]
    return(df2)

In [27]:
return_max1("2019-09-01",L_stock_code)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

   Stock_code     Return
21    0700.HK  39.009655
41    2018.HK  36.617649
19    0388.HK  26.430971
35    1177.HK  25.380711
30    1044.HK  18.393029