# Using yfinance

In [1]:
# https://pypi.org/project/yfinance/

!pip install yfinance

In [3]:
import yfinance as yf

# the pandas will be automatically install with yf

In [16]:
data = yf.download("0700.HK", start="2020-01-01", end="2020-04-30")
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,375.799988,384.799988,375.600006,382.399994,381.334320,13991006
2020-01-03,388.000000,390.000000,381.200012,383.000000,381.932648,15313106
2020-01-06,380.000000,380.000000,375.399994,377.399994,376.348236,12123194
2020-01-07,380.799988,387.799988,380.000000,385.600006,384.525421,17686346
2020-01-08,382.399994,385.799988,379.200012,382.000000,380.935425,15529153

In [17]:
data = yf.download("AAPL", start="2020-01-01", end="2020-04-30")
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,289.929993,293.679993,289.519989,293.649994,292.163818,25201400
2020-01-02,296.239990,300.600006,295.190002,300.350006,298.829956,33870100
2020-01-03,297.149994,300.579987,296.500000,297.429993,295.924713,36580700
2020-01-06,293.790009,299.959991,292.750000,299.799988,298.282715,29596800
2020-01-07,299.839996,300.899994,297.480011,298.390015,296.879883,27218000

In [22]:
# The ^ is needed as yahoo finance has lol
df_HSI = yf.download("^HSI", start="2020-01-01", end="2020-04-30")
df_HSI.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,28249.369141,28543.519531,28245.970703,28543.519531,28543.519531,1262732800
2020-01-03,28828.359375,28883.300781,28428.169922,28451.500000,28451.500000,1797904800
2020-01-06,28326.500000,28367.869141,28054.289062,28226.189453,28226.189453,1793426600
2020-01-07,28352.679688,28473.080078,28264.070312,28322.060547,28322.060547,1302687200
2020-01-08,27999.580078,28198.609375,27857.730469,28087.919922,28087.919922,1709241600

In [23]:
df_HSI.describe()

,Open,High,Low,Close,Adj Close,Volume
count,81.000000,81.000000,81.000000,81.000000,81.000000,8.100000e+01
mean,25869.430869,26048.868803,25647.287013,25865.486039,25865.486039,2.175571e+09
std,2127.280729,2064.906769,2165.638267,2098.972636,2098.972636,1.007159e+09
min,21696.130859,21696.130859,21139.259766,21696.130859,21696.130859,0.000000e+00
25%,24025.449219,24184.480469,23796.029297,23977.320312,23977.320312,1.620926e+09
50%,26348.160156,26512.580078,26145.589844,26291.679688,26291.679688,1.870631e+09
75%,27766.500000,27892.480469,27614.830078,27730.000000,27730.000000,2.519508e+09
max,29169.119141,29174.919922,28813.130859,29056.419922,29056.419922,5.628398e+09

In [29]:
df_HSI[df_HSI.Close < 23977.32]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-03-16,23317.810547,23631.529297,22842.250000,23063.570312,23063.570312,4067029300
2020-03-17,23001.759766,23401.199219,22676.460938,23263.730469,23263.730469,3637973700
2020-03-18,23023.339844,23425.029297,22167.419922,22291.820312,22291.820312,4217153600
2020-03-19,22221.380859,22380.339844,21139.259766,21709.130859,21709.130859,5628397600
2020-03-20,22147.339844,22805.070312,22147.339844,22805.070312,22805.070312,4528187900
2020-03-23,21696.130859,21696.130859,21696.130859,21696.130859,21696.130859,0
2020-03-24,22497.570312,22753.009766,22383.250000,22663.490234,22663.490234,3614066700
2020-03-25,23255.910156,23569.449219,23062.230469,23527.189453,23527.189453,3605374900
2020-03-26,23604.830078,23604.830078,23163.669922,23352.339844,23352.339844,2519508100
2020-03-27,23768.410156,23791.199219,23354.009766,23484.279297,23484.279297,2199674300
2020-03-30,23020.849609,23491.509766,22973.330078,23175.109375,23175.109375,2553435900
2020-03-31,23613.269531,23627.529297,23238.039062,23603.480469,23603.480469,2876326600
2020-04-01,23365.900391,23540.009766,22947.640625,23085.789062,23085.789062,2879977600
2020-04-02,22838.669922,23280.060547,22756.130859,23280.060547,23280.060547,2560937400
2020-04-03,23072.949219,23236.109375,23030.580078,23236.109375,23236.109375,1870630600
2020-04-06,23558.830078,23832.929688,23271.470703,23749.119141,23749.119141,1834036600
2020-04-08,24191.320312,24191.320312,23897.400391,23970.369141,23970.369141,1840854100
2020-04-21,24247.839844,24247.839844,23676.130859,23793.550781,23793.550781,2160661700
2020-04-22,23540.539062,23939.289062,23483.310547,23893.359375,23893.359375,1668362400
2020-04-24,23844.550781,23957.169922,23730.490234,23831.330078,23831.330078,1301664900

In [31]:
(df_HSI.Close < 23977.32).sum()

20

In [32]:
sum(df_HSI.Close < 23977.32)

20

In [34]:
df_HSI["daily_return"] = df_HSI.Close - df_HSI.Open
df_HSI

,Open,High,Low,Close,Adj Close,Volume,daily_return
Date,,,,,,,
2020-01-02,28249.369141,28543.519531,28245.970703,28543.519531,28543.519531,1262732800,294.150391
2020-01-03,28828.359375,28883.300781,28428.169922,28451.500000,28451.500000,1797904800,-376.859375
2020-01-06,28326.500000,28367.869141,28054.289062,28226.189453,28226.189453,1793426600,-100.310547
2020-01-07,28352.679688,28473.080078,28264.070312,28322.060547,28322.060547,1302687200,-30.619141
2020-01-08,27999.580078,28198.609375,27857.730469,28087.919922,28087.919922,1709241600,88.339844
...,...,...,...,...,...,...,...
2020-04-23,23983.650391,24107.880859,23806.300781,23977.320312,23977.320312,1814344800,-6.330078
2020-04-24,23844.550781,23957.169922,23730.490234,23831.330078,23831.330078,1301664900,-13.220703
2020-04-27,24030.660156,24318.810547,24030.539062,24280.140625,24280.140625,1592713000,249.480469
2020-04-28,24401.119141,24582.660156,24176.880859,24575.960938,24575.960938,1687557300,174.841797
2020-04-29,24786.019531,24855.470703,24549.619141,24643.589844,24643.589844,1648009000,-142.429688

In [36]:
df_HSI["2020-02-01":"2020-02-10"]

,Open,High,Low,Close,Adj Close,Volume,daily_return
Date,,,,,,,
2020-02-03,26189.609375,26512.580078,26145.589844,26356.980469,26356.980469,2421482700,167.371094
2020-02-04,26491.660156,26730.259766,26491.660156,26675.980469,26675.980469,2500238100,184.320312
2020-02-05,26869.320312,26926.119141,26641.919922,26786.740234,26786.740234,2498930800,-82.580078
2020-02-06,27174.529297,27608.220703,27029.490234,27493.699219,27493.699219,2249533900,319.169922
2020-02-07,27356.279297,27410.580078,27224.119141,27404.269531,27404.269531,1464514700,47.990234
2020-02-10,27092.150391,27314.640625,27044.880859,27241.339844,27241.339844,1612017900,149.189453

In [64]:
# Tdy Open - ytd Close
df_HSI["Gap"] = df_HSI.Open - df_HSI.Close.shift(1);df_HSI.head(8)

,Open,High,Low,Close,Adj Close,Volume,daily_return,Gap
Date,,,,,,,,
2020-01-02,28249.369141,28543.519531,28245.970703,28543.519531,28543.519531,1262732800,294.150391,NaN
2020-01-03,28828.359375,28883.300781,28428.169922,28451.500000,28451.500000,1797904800,-376.859375,284.839844
2020-01-06,28326.500000,28367.869141,28054.289062,28226.189453,28226.189453,1793426600,-100.310547,-125.000000
2020-01-07,28352.679688,28473.080078,28264.070312,28322.060547,28322.060547,1302687200,-30.619141,126.490234
2020-01-08,27999.580078,28198.609375,27857.730469,28087.919922,28087.919922,1709241600,88.339844,-322.480469
2020-01-09,28367.650391,28561.000000,28325.859375,28561.000000,28561.000000,1692786200,193.349609,279.730469
2020-01-10,28665.140625,28665.140625,28504.269531,28638.199219,28638.199219,1448401000,-26.941406,104.140625
2020-01-13,28772.369141,28971.400391,28671.839844,28954.939453,28954.939453,1765055700,182.570312,134.169922

In [60]:
df_HSI.Gap.describe()

count      80.000000
mean      -41.078101
std       380.541050
min     -1789.750000
25%      -194.009766
50%        29.415039
75%       134.297363
max       801.439453
Name: Gap, dtype: float64

In [68]:
df_HSI[df_HSI.Gap == df_HSI.Gap.max() ]

,Open,High,Low,Close,Adj Close,Volume,daily_return,Gap
Date,,,,,,,,
2020-03-24,22497.570312,22753.009766,22383.25,22663.490234,22663.490234,3614066700,165.919922,801.439453

In [69]:
df_HSI[df_HSI.Gap == df_HSI.Gap.min() ]

,Open,High,Low,Close,Adj Close,Volume,daily_return,Gap
Date,,,,,,,,
2020-03-13,22519.320312,24184.480469,22519.320312,24032.910156,24032.910156,5495155700,1513.589844,-1789.75